@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #111827;
  --foreground: #f9fafb;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

* {
  scrollbar-width: thin;
  scrollbar-color: #4b5563 #1f2937;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #1f2937;
}

::-webkit-scrollbar-thumb {
  background-color: #4b5563;
  border-radius: 3px;
}
